.form-container {
    position: relative;
}

.clock-container {
position: absolute;    
  top: -40px;
  right: 0px;                      
  font-size: 14px;
  font-family: monospace;
  color: #000;
  background: none;     
  padding: 0;
  margin: 0;
}