.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;


}

.form__button {
    width: 100%;
    border: none;
    background-color: rgba(0, 127, 165, 0.603);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0, 3s;
}

.form__button:hover {
    background-color: rgba(0, 127, 165, 0.603);
}

.form__button:active {
    background-color: rgba(0, 70, 92, 0.603);
}

.form__fieldset {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.form__legend {
    background-color: rgba(0, 127, 165, 0.603);
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.form__header {
    color: rgba(0, 127, 165, 0.603);
    text-align: center;
}

.form__info {
    font-size: 18px;
    text-align: center;
    color: darkgray;
}